
<%= render "investigador"%>

<% if (signed_in? and ((current_investigador and (current_investigador.email == @investigador.email)) or (current_admin.try(:is_admin?) or current_admin.try(:is_editor?)) ))%>

		<%= render 'form_curriculo', investigador: @investigador %>
		<div class="texto-informacion">
			<%= @investigador.curriculo.try(:html_safe)%>

		</div>

<%else%>

	<div class="texto-informacion">
			<h1 align="center"  class="titulo">Currículo</h1>
		<%= @investigador.curriculo.try(:html_safe)%>



</div>
<%end%>
