<h1>Editing Carrusel</h1>

<%= render 'form', carrusel: @carrusel %>

<%= link_to 'Ver elemento', @carrusel, class: "link" %> |
<%= link_to 'Ver todos los elementos', carrusels_path, class: "link" %>
