
	<div class="img-inicial">
		<%= image_tag("fondo cuadros.png")%>

		<div id="foto1" class="cambioimg">
			<img src="" id="img-ini1">
		</div>
		<div id="foto2" class="cambioimg">
			<img src="" id="img-ini2">

		</div>
		<div id="foto3" class="cambioimg">
			<img src="" id="img-ini3">
		</div>
		<div id="foto4" class="cambioimg">
			<img src="" id="img-ini4">
		</div>
		<div id="foto5" class="cambioimg">
			<img src="" id="img-ini5">
		</div>
	</div>
