<div class="contenedor">
  <div class="divTitulo">
    <span class="titulo">
  </div>
      Editar Programa
    </span>
    <%= render 'form', modelo: @programa %>

    <%= link_to 'Ver todos', programas_path, class:"btn btnActivo" %>

</div>
