<div class="contenedor">
  <div class="divTitulo">
    <span class="titulo">
  </div>
      Editar Organo Colegiado
    </span>
    <%= render 'form', modelo: @organocolegiado %>

    <%= link_to 'Ver todos', organocolegiados_path , class:"btn btnActivo" %>

</div>
