<div class="contenedor">
  <div class="divTitulo">
    <span class="titulo">
      Nuevo Organo Colegiado
    </span>
  </div>
  <br>
  <%= render 'form', modelo: @organocolegiado %>

  <%= link_to 'Ver todos', organocolegiados_path, class:"btn btnActivo" %>
</div>
