<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @organocolegiado.nombre %>
</p>

<%= link_to 'Edit', edit_organocolegiado_path(@organocolegiado) %> |
<%= link_to 'Back', organocolegiados_path %>
