

    <div class="cajaDelTituloDeLaPagina">
      <span class="nombrePagina">Interdiciplina</span>
    </div>

        <p align="center">Para ver pulse sobre la portada</p>
        <div class="cajarevistas">
        <%@revistas.order("created_at DESC").each do |revista|%>
          <%if revista.coleccion == "interdiciplina"%>
            <div class="">
              <p align="center"><%=link_to (image_tag revista.img.url(:revista)), asset_path(revista.pdf, skip_pipeline: true), target: "_blank",styles: "revista" %></p>
              <p align="center">  <%=revista.descripcion%></p>
            </div>
          <%end%>
        <%end%>
        </div>
