	<link href="50000000.css" rel="stylesheet" type="text/css" title="normal"/>
<div class="contenedor">


<div class="cajaDelTituloDeLaPagina"><span class="nombrePagina">Ventas y Distribución</span></div>
<div class="cajaVentas">

<p align="center">

<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1882.4135377893888!2d-99.18305314484408!3d19.33330862853531!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1456859507829" width="850" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
</p>
 <p align="center"><strong>Librer&iacute;a</strong></p>
              <p  align="center">Torre II de Humanidades 4&deg;  piso<br>
                Circuito Interior, Ciudad Universitaria <br>
                Delegaci&oacute;n Coyoac&aacute;n,


 04510, Ciudad de México<br>
                <br>
              Tel&eacute;fonos: 56230222 ext. 42793<br>
                <br>
            <!-- Responsable:


 Arturo Reyes Castillo
                <br>-->
                <br>
                Correo electr&oacute;nico: <a href="mailto:libreria.ceiich@gmail.com" target="_blank">libreria.ceiich@gmail.com</a><br>
                <br>
                Cat&aacute;logo: <a href="51LibT00.php">http://www.ceiich.unam.mx/0/51LibT00.php </a></p>


</div>
