<div class="contenedor">
  <div class="divTitulo">
    <span class="titulo">
    Editar video en medios
    </span>
  </div>
  <%= render 'form', modelo: @medio_video %>

  <%= link_to 'Back', medio_videos_path, class:"btn btnNoActivo" %>

</div>
