<footer>
    <div class="pie-banners">
      <%= image_tag "vinculosExternos.jpg", usemap:"#imagen01"%>
    </div>
    <strong> <div class="pie-banners">
      <map name="imagen01" id="imagen01">
        <area shape="rect" coords="0,0,299,26" href="http://www.directorio.unam.mx/" target="_blank" />
        <area shape="rect" coords="300,0,599,26" href="http://dgapa.unam.mx/" target="_blank" />
        <area shape="rect" coords="600,0,924,26" href="http://www.ddu.unam.mx/" target="_blank" />
        <area shape="rect" coords="925,0,1280,26" href="http://www.dgcs.unam.mx/mujer.html" target="_blank" />
      </map>


      <div class="pie-derechos">
        <div align="center">
          Hecho en México, todos los derechos reservados 2019. Esta página puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica.
          De otra forma requiere permiso previo por escrito de la institución.
        </div>
        <div class="administrado">
          Sitio web administrado por el Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades (CEIICH).<br/>
          Contacto: <a href="mailto:admin@ceiich.unam.mx">admin@ceiich.unam.mx</a>
        </div>
      </div>
    </strong>
  </footer>
