<div class="contenedor">
  <div class="divTitulo">
    <span class="titulo">
  </div>
      Editar Publicacioes
    </span>
    <%= render 'form', modelo: @publicacion %>
    <%=link_to "Regresar", 'javascript:history.back()',class:"btn btnActivo"%>
</div>
