<div class="divTitulo">
  <span class="titulo">
    Dociencia
  </span>
</div>
<div class="contenedor-imgdesc">
  <div class="cajaImagen">
    <%= image_tag "docencia/Docencia.jpg", class: "imagen"  %>
  </div>
  <div class="cajaDescripcion">
    <span class"FichaContenido">Las principales actividades de Educación Continua impulsadas por el CEIICH se centran en la impartición de diplomados de actualización profesional, bajo dos modalidades: los que imparte y organiza el personal académico del Centro con base en la investigación que se desarrolla en sus distintos programas, y los que imparte bajo convenios de colaboración institucional con otras entidades de la UNAM o con instituciones externas a ésta, así como con organizaciones sociales nacionales y extranjeras. También se desarrollan cursos, talleres, seminarios, conferencias presenciales y a distancia, que acompañan y fortalecen las labores de investigación del Centro y sirven para difundir los resultados de las mismas.</span>
  </div>
</div>
