<div class="contenedor">
	<%=render "docencia/acercaDe_descripcion"%>
	<br>
	<%= link_to "Personal","acercaDe",class: "btn btnNoActivo"%>
	<%= link_to "Líneas de trabajo","lineasTrabajo",class: "btn btnActivo"%>
	<br>
	<div class="divTexto">
		<p align="justify">De conformidad con los Lineamientos Generales de Educación Continua de la UNAM las líneas de trabajo del área son <%=link_to "http://redec.unam.mx/docs/lineamientos_ec.pdf","http://redec.unam.mx/docs/lineamientos_ec.pdf",target:"_blank",class:"link"%> (Gaceta UNAM, Número 4516, del 23 de mayo de 2013):</p>
		<p align="justify">Asesoría para elaboración de propuestas académicas;</p>
		<p align="justify">seguimiento a impartición de diplomados, cursos, seminarios, talleres, conferencias y otras modalidades docentes; y</p>
		<p align="justify">coordinación de actividades de educación continua.</p>
	</div>

</div>
