<link href="10000000.css" rel="stylesheet" type="text/css" title="normal"/>
<div class="contenedor">
	<div class="cajaDelTituloDeLaPagina">
	<span class="nombrePagina">
	Modalidades
	</span>
	</div>
	<div class="cajaParaElContenido">
	<table class="tabla_modalidades">
		<tr>
			<td colspan="2"><p>En el CEIICH se imparten las siguientes modalidades docentes y procedimientos con base en los <a href="http://redec.unam.mx/docs/lineamientos_ec.pdf" target="_blank">Lineamientos Generales de Educaci&oacute;n Continua de la UNAM</a> (<em>Gaceta UNAM</em>,  N&uacute;mero 4516, del 23 de mayo de 2013).</p></td>
		</tr>
		<tr>
			<td><%= image_tag "docencia/femilismo01.jpg", class: "img-modalidades"%></td>
			<td><p><strong>Diplomado</strong>:  Actividad orientada a la  profundizaci&oacute;n y actualizaci&oacute;n de conocimientos de un &aacute;rea y tema espec&iacute;ficos,  y a la adquisici&oacute;n de habilidades y destrezas, organizada por m&oacute;dulos  secuenciados (que pueden cursarse por separado, a manera de cursos) impartida  por uno o varios expertos especialistas en la materia, con rigor acad&eacute;mico y  metodol&oacute;gico, con duraci&oacute;n m&iacute;nima de 120 horas.&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td><%= image_tag "docencia/diploMedi03.jpg", class: "img-modalidades"%></td>
			<td><p><strong>Seminario</strong>:  Consolidaci&oacute;n y generaci&oacute;n de  conocimientos en torno a un tema de inter&eacute;s com&uacute;n para los participantes, a  partir de la interacci&oacute;n, el debate y la reflexi&oacute;n colectiva, con el  establecimiento de conclusiones susceptibles de publicarse  respecto al t&oacute;pico  abordado, y la duraci&oacute;n necesaria para alcanzar los objetivos acad&eacute;micos  previstos.</td></p>
		</tr>
		<tr>
			<td><%= image_tag "docencia/femilismo03.jpg", class: "img-modalidades"%></td>
			<td><p><strong>Curso</strong>:  Impartici&oacute;n de conocimientos  especializados y actualizados en torno a una tem&aacute;tica espec&iacute;fica mediante  estrategias did&aacute;cticas para el trabajo individual y/o grupal, bajo la  conducci&oacute;n de un experto especialista en la materia. Los cursos deber&aacute;n tener  la duraci&oacute;n necesaria para la consecuci&oacute;n de sus objetivos acad&eacute;micos.</td></p>
		</tr>
		<tr>
			<td><%= image_tag "docencia/curso-03.jpg", class: "img-modalidades"%></td>
			<td><p><strong>Taller</strong>:  Actividad consistente en la  adquisici&oacute;n y fortalecimiento de habilidades y destrezas mediante la pr&aacute;ctica  de las mismas a trav&eacute;s de la ejecuci&oacute;n de tareas propuestas por el experto  especialista que facilita las herramientas y fundamentos te&oacute;ricos, orienta,  conduce y acompa&ntilde;a a los participantes durante el proceso, con la finalidad de  generar una o m&aacute;s competencias.</td></p>
		</tr>
	</table>
	</div>
</div>
