
  <div class="cajaDelTituloDeLaPagina">
  	<span class="nombrePagina">Voces del CEIICH</span> &nbsp;&nbsp;&nbsp;
  </div>

  <div class=podcast-individual>
    <table>
      <tr>
          <td class= "podcast-ind">
            <%= image_tag("podcast/voces/maria_esperanza.jpg",class: "pod-img-ind")%>
          </td>
          <td class= "podcast-ind">
            <%= audio_tag("maria_esperanza.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
    </table>
    <%=link_to fa_icon('forward',class: 'fas fa-undo-alt fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
