
  <div class="cajaDelTituloDeLaPagina">
  	<span class="nombrePagina">Podcast </span> &nbsp;&nbsp;&nbsp;
  </div>

  <div class="tabla-podcast">
    <table>
      <tr>
        <td>
          <td class= "podcast-img"> <%=link_to image_tag("podcast/esteDiaen1968.jpg",class: "pod-img"),"/medios/estedia", title:"este día"%></td>
        </td>
        <td>
          <td class= "podcast-img"> <%= link_to image_tag("podcast/voces.jpg",class: "pod-img"),"/medios/voces", title:"voces"%></td>
        </td>
      </tr>
    </table>
  </div>
