
  <div class="cajaDelTituloDeLaPagina">
  	<span class="nombrePagina">Voces del CEIICH</span> &nbsp;&nbsp;&nbsp;
  </div>

  <div class=podcast-individual>
    <table>
      <tr>
          <td class= "podcast-ind">
            <%= image_tag("podcast/voces/teresa_ordorika.jpg",class: "pod-img-ind")%>
          </td>
          <td class= "podcast-ind">
            <%= audio_tag("teresa_ordorika.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
    </table>
    <%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
