<div class="contenedor">
  <div class="divTitulo">
    <span class="titulo">
      Nuevo archivo fotográfico
    </span>
  </div>
  <%= render 'form', modelo: @archivofotografico %>

  <%= link_to 'Back', archivofotograficos_path, class:"btn btnNoActivo" %>
</div>
