<link href="archivo_fotografico.css" rel="stylesheet" type="text/css" title="normal"/>


<div class="contenedor">
  <div class="cajaDelTituloDeLaPagina">
    <span class="nombrePagina">Archivo Fotográfico</span>
  </div>
    <%=render "nav_fotos"%>

</div>
