<h1>Editar Elementos de la pagina principal</h1>

<%= render 'form', modelo: @principalelement %>


<%= link_to 'Ver elemento', @principalelement, class:"link" %> |
<%= link_to 'Ver todos los elementos', root_path , class:"link" %>
