<div class="contenedor">
  <div class="row">
    <h1>Nuevo elemento principal</h1>
  </div>

<br>
<%= render 'form', modelo: @principalelement %>

<%= link_to 'Ver todos los elementos principales', principalelements_path, class: "btn btnPrimario" %>
</div>
