<div class="contenedor">
  <div class="divTitulo">
    <span class="titulo">
      Nuevo Documento
    </span>
  </div>
  <br>
  <%= render 'form', modelo: @documento %>

  <%= link_to 'Back', documentos_path,class:"btn btnActivo" %>

</div>
