<div class="contenedor">
  <h1>Nuevo Archivo para el departamento de difusion</h1>

  <%= render 'form', modelo: @archivo %>

  <%= link_to 'Ver todos', archivos_path, class:"btn btnActivo" %>

</div>
