<div class="contenedor">
  <div class="divTitutlo">
    <div class="titulo">
      Editar libro
    </div>
  </div>

  <%= render 'form', modelo: @libro %>


  <%= link_to 'Ver todos los libros', libros_path, class:"btn btnNoActivo" %>

</div>
