<div class="contenedor">
	<div class="divTitulo">
	<span class="titulo">Historia</span>
	</div>
	<%= render 'idiomas_historia' %>

	<p align="justify">
	<%= image_tag("historiaCeiich02.jpg", :style => "float :left; width :300px; border: 10px; padding-right: 10px;") %>
	The Center for Interdisciplinary Research in the Sciences and Humanities (CEIICH) is part of the system of the Coordination for the Humanities of the UNAM. Its goal is the integration, coordination, promotion and implementation of interdisciplinary academic projects in the fields of sciences and humanities.</p>
	<p align="justify">It was funded on 20 January 1986 as the Center for Interdisciplinary Research in the Humanities, and on 28 April 1995 widened its scope to include the field of science.</p>

	<p align="justify">
	<%= image_tag("historiaCeiich01.jpg", :style => "float :right; width :300px; border: 10px; padding-left: 10px;") %>
	The Center has undertaken research geared towards a communication between scientific, social, and humanistic fields in order to unravel complex problems and realities. Its current research projects give rise to original thought and to the analysis and solution of problems. Teaching has stimulated new generations of specialists, and academic meetings, arbitrated journals, and a great number of publications have aided in the spreading of science and culture. It is thus that the work of the CEIICH has also contributed to the strengthening of scientific and humanistic culture.</p>

	<%= render 'cuadriptico'%>

</div>
