<div class="contenedor">
	<div class="divTitulo">
	<span class="titulo">Historia</span>
	</div>
	<%= render 'idiomas_historia' %>

	<p align="justify">
	<%= image_tag("historiaCeiich02.jpg", :style => "float :left; width :300px; border: 10px; padding-right: 10px;") %>
	Le Centre de Recherche Interdisciplinaire en Sciences et Sciences Humaines (CEIICH) est une entité académique assignée à la coordination des Sciences Humaines de l'UNAM dont les objectifs généraux sont de d'intégrer, coordonner, promouvoir et effectuer des projets académiques interdisciplinaires dans les domaines des sciences et des sciences humaines.
	</p>
	<p align="justify">Le CEIICH a été créé le 20 janvier 1986 comme Centre de Recherches Interdisciplinaires en Sciences Humaines, et le 28 avril 1995 l'a été assigne la tâche d'étendre ses fonctions pour incorporer de manière institutionnelle les disciplines scientifiques.</p>

	<p align="justify">
	<%= image_tag("historiaCeiich01.jpg", :style => "float :right; width :300px; border: 10px; padding-left: 10px;") %>
	Le CEIICH a été consacré à la recherche, visant à tendre des ponts entre les disciplines scientifiques, sociales et humaines afin de mieux étudier les problèmes et les réalités complexes. Actuellement ses projets de recherche contribuent à la création des connaissances originales, à l'analyse et à la solution des problèmes. Par l'enseignement on a stimulé la formation de nouvelles générations de professionnels. La diffusion est effectuée à travers des rencontres académiques, publications arbitrées et d'une vaste production éditoriale ; ce pourquoi, la tâche du CEIICH influence les efforts institutionnels pour consolider la culture scientifique et humaniste de la société.
	</p>

	<%= render 'cuadriptico'%>
</div>

	
