<div class="contenedor">
	<div class="divTitulo">
	<span class="titulo">Historia</span>
	</div>
	<%= render 'idiomas_historia' %>
	<p align="justify">
	<%= image_tag("historiaCeiich02.jpg", :style => "float :left; width :300px; border: 10px; padding-right: 10px;") %>
	O Centro de Pesquisas Interdisciplinares em Ciências e Humanidades (CEIICH) é uma entidade acadêmica vinculada à Coordenação de Humanidades da UNAM, cujos objetivos gerais são integrar, coordenar, promover e realizar projetos acadêmicos interdisciplinares nos campos de ciências e humanidades.
	</p>
	<p align="justify">Foi criado em 20 de janeiro de 1986 como Centro de Pesquisas Interdisciplinares em Humanidades e, em 28 de abril de 1995, recebeu a incumbência de ampliar suas funções para incorporarse institucionalmente às disciplinas científicas.</p>

	<p align="justify">
	<%= image_tag("historiaCeiich01.jpg", :style => "float :right; width :300px; border: 10px; padding-left: 10px;") %>
	O CEIICH tem se dedicado à investigação que tende a criar ponte entre as disciplinas científicas, sociais e humanísticas para, de esta forma, desentranhar problemas e realidades complexas. Atualmente seus projetos de pesquisa contribuem para a geração de conhecimento original, análise e solução de problemas. Mediante a docência tem se estimulado a formação de novas gerações de especialistas e a difussão realiza-se a través de encontros acadêmicos, publicações ditaminadas e de uma vasta produção editorial, motivo pelo qual o trabalho do CEIICH incide significativamente nos esforços institucionais, fortalecendo a cultura científica e humanística da sociedade.
	</p>
	<%= render 'cuadriptico'%>
</div>
