<div class="contenedor">
	<div class="divTitulo">
	<span class="titulo">Historia</span>
	</div>
	<%= render 'idiomas_historia' %>

	<p align="justify">
	<%= image_tag("historiaCeiich02.jpg", :style => "float :left; width :300px; border: 10px; padding-right: 10px;") %>
	Das Zentrum für interdisziplinäre Forschung in Natur- und Geisteswissenschaften (CEIICH) ist eine wissenschaftliche Einrichtung, die der Koordination für Geisteswissenschaften (Coordinación de Humanidades) der UNAM zugeschrieben ist. Seine Ziele sind interdisziplinäre Projekte in den Bereichen der Natur- und der Geisteswissenschaften zu integrieren, koordinieren, fördern und durchzuführen.
	</p>
	<p align="justify">Es wurde am 20. Januar 1986 als Zentrum für Interdisziplinäre Forschung in den Geisteswissenschaften (CIIH) gegründet und am 28. April 1995 wurde ihm die Aufgabe der Ausweitung seiner institutionellen Tätigkeiten auf naturwissenschaftliche Disziplinen auferlegt.</p>

	<p align="justify">
	<%= image_tag("historiaCeiich01.jpg", :style => "float :right; width :300px; border: 10px; padding-left: 10px;") %>
	Das CEIICH widmet sich der Forschung, die Brücken schlägt zwischen den wissenschaftlichen, sozialen und humanistischen Disziplinen mit dem Ziel, komplexe Probleme und Realitäten zu entschlüsseln. Seine aktuellen Forschungsschwerpunkte tragen dazu bei, originelles Wissen zu produzieren und Probleme zu analysieren und zu lösen. Mit der Lehrtätigkeit wird die Ausbildung neuer Generationen von Spezialisten gefördert und die Öffentlichkeitsarbeit basiert auf der Organisation von akademischen Tagungen, wissenschaftlichen Veröffentlichungen und einer breiten Verlagsarbeit, womit das CEIICH auch dazu beiträgt, die institutionellen Bestreben nach einer wissenschaftlichen und humanistischen Kultur der Gesellschaft zu stärken.
	</p>

	<%= render 'cuadriptico'%>

</div>
