<div class="contenedor">
	<div class="divTitulo">
	<span class="titulo">Historia</span>
	</div>
	<%= render 'idiomas_historia' %>

	<p align="justify">
	<%= image_tag("historiaCeiich02.jpg", :style => "float :left; width :300px; border: 10px; padding-right: 10px;") %>
	Centro di Ricerca Interdisciplinaria delle Scienze e degli Studi Umanistici (CEIICH) è un'organizzazione accademica assegnata alla coordinazione degli studi umanistici dell'UNAM. Le missioni generali sono di integrare, coordinare, promuovere e fare progetti accademici interdisciplinari nei campi delle scienze e degli studi umanistici.
	</p>
	<p align="justify">È stato creato il 20 gennaio 1986 come il centro di ricerca interdisciplinare negli studi umanistici ed il 28 aprile del 1995 le sono stati assegnati compiti di estensione delle funzioni per incorporare, istituzionalmente, le discipline scientifiche.</p>

	<p align="justify">
	<%= image_tag("historiaCeiich01.jpg", :style => "float :right; width :300px; border: 10px; padding-left: 10px;") %>
	Il CEIICH è dedicato alla ricerca orientata per tendere i legami fra le discipline scientifiche, sociali e umanistiche per un approccio ai problemi ed alle realtà complesse. Attualmente i loro progetti di ricerca contribuiscono alla generazione di conoscenza originale, all'analisi ed alla soluzione dei problemi. Attraverso l'insegnamento è stato stimolata la formazione di nuove generazioni di esperti. La diffusione è fatta con l'incontri accademici, pubblicazioni arbitrate ed una produzione di pubblicazione ampia, ragione per la quale il lavoro del CEIICH ha un impatto notevole sugli sforzi istituzionali per fortificare la cultura scientifica e umanistica della società.
	</p>

	<%= render 'cuadriptico'%>
</div>
