<div class="contenedor">
	<div class="divTitulo">
	<span class="titulo">Ubicación</span>
	</div>
<p align="center">
	<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1882.4135377893888!2d-99.18305314484408!3d19.33330862853531!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1456859507829" width="850" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
</p>
	<p align="center">Torre II de Humanidades 4°, 5° y 6° pisos, <br>
	Circuito Interior, Ciudad Universitaria <br>
	Delegación Coyoacán,
	04510, Ciudad de México<br>
	Tels. (01)(52)(55) 5623-0026, (01)(52)(55) 5623-0030 <br>
	direccion_ceiich@unam.mx / academica.ceiich@unam.mx <br></p>

</div>
