
<div class="CajaNombreProgramas">
    <span class="nombreProgramas">&nbsp;&nbsp;Producción Audiovisual y multimedia&nbsp;&nbsp;</span>
</div>
<div class="contenedor-depo">
  <div class="depoImagen">
    <%= image_tag("departamentosTecnicos/Audiovisual.jpg", class: "imagenPrograma") %>
  </div>
  <div class="depoDesc">
    <p class="descripcionPrograma centrar-v"><span class"FichaContenido">Produce materiales audiovisuales que promueven y dan cuenta de la labor académica del CEIICH, como documentales, cápsulas, videos promocionales y multimedia. También coordina la transmisión en vivo de los encuentros académicos y los enlaces vía videoconferencia, así como el diseño y mantenimiento de la página web.</span></p>
  </div>

</div>
