

<div class="CajaNombreProgramas">
  <span class="nombreProgramas">&nbsp;&nbsp;Difusión&nbsp;&nbsp;</span>
</div>
<div class="contenedor-depo">
  <div class="depoImagen">
     <%= image_tag("departamentosTecnicos/Difusion.jpg", class: "imagenPrograma") %>
  </div>
  <div class="depoDesc">
    Respecto a las actividades académicas: de investigación, de educación continua-docencia y educación continua-divulgación.<br>
  -  Asesora y colabora con el personal académico de investigación y técnico en la organización de las mismas.<br>
  -  Realiza las acciones necesarias y trabaja de manera colaborativa con los departamentos técnicos y el área administrativa para su desarrollo.<br>
  -  Lleva a cabo la difusión por los medios de comunicación universitarios tradicionales y digitales.<br>
  -  Enlace con la Dirección General de Comunicación Social de la UNAM para la realización de entrevistas con medios nacionales e internacionales.
  </div>

</div>
