<div class="CajaNombreProgramas">
    <span class="nombreProgramas">&nbsp;&nbsp;Publicaciones&nbsp;&nbsp;</span>
</div>
<div class="contenedor-depo">
  <div class="depoImagen">
    <%= image_tag("departamentosTecnicos/Publicaciones.jpg", class: "imagenPrograma") %>
  </div>
  <div class="depoDesc">
    <p class="descripcionPrograma centrar-v"><span class"FichaContenido">Organiza el trabajo de edici&oacute;n de las publicaciones de acuerdo con los lineamientos del programa editorial anual aprobado por el Comit&eacute; Editorial del Centro. Dise&ntilde;a las portadas e interiores de las publicaciones impresas y en soporte digital, as&iacute; como los materiales gr&aacute;ficos para la difusi&oacute;n de los encuentros acad&eacute;micos. Supervisa la distribuci&oacute;n y venta de las publicaciones del Centro. </span></p>
  </div>

</div>
