<%= render "presencia_medios"%>
  <div class="cajaPresenciaMedios">
    <table class="items-presencia-medios">
      <tr>
        <td>
          <p class="titulos-pm">
            <b> Presencia en Medios de los Encuentros Académicos del CEIICH Boletines CEIICH, 2012</b></p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div>
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-04-B1.pdf"><b>   11a Feria del Libro de la Torre II de Humanidades</b></a>
            <p>Realización del evento: 23 a 27 de abril</p>
            <p>Fuente: Hernández Romero, Erika "Se celebra la XI Feria del Libro de la Torre II de Humanidades", Departamento de Difusión, CEIICH/ UNAM, abril de 2012.</p>
          </div>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div>
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-05-B2.pdf"><b>   Coloquio Norbert Weiner y Arturo Rosenblueth un encuentro interdisciplinario</b></a>
            <p>Realización del evento: 21 y 22 de mayo</p>
            <p>Fuente: Mansilla Corona, Ricardo Lino "Coloquio: Norbert Wiener y Arturo Rosenblueth: un encuentro interdisciplinario ", Programa de Investigación Ciencia y Tecnología, CEIICH-UNAM, 22 de mayo de 2012.</p>
          </div>

        </td>
      </tr>

    </table>

  <%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
</div>
</div>
