<%= render "presencia_medios"%>
  <div class="cajaPresenciaMedios">
    <table class="items-presencia-medios">
      <tr>
        <td>
          <p class="titulos-pm">
            <b> Presencia en Medios de los Encuentros Académicos del CEIICH Boletines CEIICH, 2013</b></p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div>
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/13-07-BU1.pdf"><b>   Premio Libertador al Pensamiento Crítico 2012.</b></a>
            <p>Realización del evento: 30 de julio</p>
            <p>Fuente: Castillo Guerrero, María Gladys "Académico de la UNAM recibe importante reconocimiento en el Premio Libertador al Pensamiento Crítico 2012" Departamento de Difusión / CEIICH-UNAM, 30 de julio de 2013.</p>
          </div>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div>
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/13-10-BU2.pdf"><b>   Conferencia Magistral. Interdisciplina, hibridación y diferencia.</b></a>
            <p>Realización del evento: 18 de septiembre</p>
            <p>Fuente: Hernández Romero, Erika "Los desafíos de la Interdisciplina en tiempos Posmodernos" Departamento de Difusión / CEIICH-UNAM, 30 de septiembre de 2013.</p>
          </div>
        </td>
      </tr>

    </table>

  <%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
</div>
</div>
