<%= render "presencia_medios"%>
  <div class="cajaPresenciaMedios">
    <table class="items-presencia-medios">
      <tr>
        <td>
          <p class="titulos-pm">
            <b> Presencia en Medios de los Encuentros Académicos del CEIICH Gaceta Portal UNAM, 2014</b></p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/14-01-28-BU1.pdf"><b>   Coloquio Internacional. Identidades, racismo y xenofobia en América Latina: Una perspectiva interdisciplinaria acerca de un problema complejo</b></a>
          </div>
          <p>Realización del evento: 28 al 31 de enero</p>
          <p>Fuente: "Racismo, fenómeno de intolerancia" en Boletín UNAM-DGCS, 29 de enero de 2014, disponible en (http://www.dgcs.unam.mx/boletin/bdboletin/2014_057.html)</p>

        </td>
      </tr>

    </table>

  <%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
</div>
</div>
