<%= render "presencia_medios"%>

 <div class="cajaPresenciaMedios">
   <table class="items-presencia-medios">
     <tr>
       <td>
         <p class="titulos-pm">
           <b> Presencia en Medios de los Encuentros Académicos del CEIICH Reseñas de libros, 2010</b></p>
       </td>
     </tr>
     <tr>
       <td  class="item-pm">
         <div class="div-pm">
           <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%>
             <%=link_to "Libro. Trotsky en México y la vida política en tiempos de Lázaro Cárdenas (1937-1940)","http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/14-06-R1.pdf",class: "titulo-presencia_medios"%>
         </div>
         <p>Realización del evento: 1 de junio</p>
         <p>Fuente: Hernández Romero, Erika "Gall, Olivia. Trotsky en México y la vida política en tiempos de Lázaro Cárdenas (1937-1940)", Departamento de Difusión CEIICH/UNAM, junio de 2014.</p>
       </td>
     </tr>



   </table>
 <%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>
 </div>
