<div class="contenedor">
  <div class="divTitulo">
    <span class="titulo">
      Editar Adscripcion
    </span>
  </div>
  <br>
  <%= render 'form', modelo: @adscripcion %>
  <%= link_to 'Ver todos', adscripciones_path, class:"btn btnActivo" %>
</div>
