<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @adscripcion.nombre %>
</p>

<%= link_to 'Edit', edit_adscripcion_path(@adscripcion) %> |
<%= link_to 'Back', adscripciones_path %>
