<h1>Editing Novedadbibliografica</h1>

<%= render 'form', novedadbibliografica: @novedadbibliografica %>

<%= link_to 'Show', @novedadbibliografica %> |
<%= link_to 'Back', novedadesbibliograficas_path %>
